# Compiled class file
*.class
.classpath
.springBeans
# Mobile Tools for Java (J2ME)
.mtj.tmp/


*.classpath
*.project
*.springBeans
log/
test-output/

# Package Files #
*.jar
*.war


# Log file
*.log

# BlueJ files
*.ctxt

*.nar

*.ear
*.zip
*.tar.gz
*.rar

*.swp

# nodejs local modules
.tags*
.idea/
*.iml
.gradle/
.settings/
target/
hs_err_pid*
logs
target


